body{
margin-top:0;
}

table.maTable{
margin-right:0;
margin-bottom:auto;
margin-top:0;
margin-left:0;
}

td.maClasse{
font-size:35px;
text-align:left;
color:black;
font-family:"Comic Sans MS";
vertical-align:baseline;
}

div.Acteurs_S{
text-align:left;
font-size:60px;
}

div.titre{
font-size:70px;
text-align:center;
color:#4500FC;
}

td div.titre{
text-align:left;
font-family:"Edwardian Script ITC";
font-size:100px;
color:#FFCD00;
margin-bottom:40px;
margin-top:10px;
text-underline-offset:25px;
}

a.tooltipR{
color:red;
}

td div.sousTitre{
font-family:"Forte";
color:turquoise;
font-size:60px;
text-align:left;
text-underline-offset:25px;
margin-bottom:50px;
}

td div.liste{
text-align:left;
}

table.Discographie{
border-collapse:collapse;
}

td.tabtit{
text-align:center;
color:white;
font-size:45px;
border:7px solid black;
}

td.tab2{
width:250px;
text-align:center;
color:black;
font-size:35px;
border:7px solid black;	
}

td.tab1{
text-align:left;
color:black;
font-size:35px;
border:7px solid black;
}

td.myClass{
font-size:31px;
color:black;
text-align:center;
padding:18px;
margin:0 0 0 0;
border:13px solid black;
width:550px;
height:1000px;
}

div.cadre{
color:turquoise;
font-size:50px;
text-decoration:underline;
}

img.image{
width:450px;
height:495px;
}

img.imageK{
width:380px;
height:47px;
}

img.imageL{
width:500px;
height:535px;
}

button.dossier{
font-size:25px;
padding-top:0;
padding-right:0;
padding-bottom:0;
padding-left:0;
margin-left:5px;
background-color:#FFCD00;
}

table.Filmographie{
border-collapse:collapse;
}

table.AlbumStudio{
border-collapse:collapse;
}

div.NDP{
color:turquoise;
font-size:50px;
text-decoration:underline;
}
